extends layout 
 
block content 
  h1= title 
 
  if (toShow == null) 
    h2 No instance to delete 
  else 
    - let whiskeyid = toShow._id 
    - let whiskeytype = toShow.whiskey_type 
    - let whiskeyprice = toShow.price 
    - let whiskeyname = toShow.name 
    - let actionid = "/resource/whiskeys/" + whiskeyid 
    script let actionid = "#{actionid}" 
    div 
      div.row 
        div(class='whiskeyAttr mr-3') Whiskey ID is: 
        div #{whiskeyid} 
      div.row 
        div(class='whiskeyAttr mr-3') Whiskey Type is: 
        div #{whiskeytype} 
      div.row 
        div(class='whiskeyAttr mr-3') Whiskey Name is: 
        div #{whiskeyname} 
      div.row 
        div(class='whiskeyAttr mr-3') Whiskey Price is: 
        div #{whiskeyprice} 
 
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
  script. 
    function cancel() { 
      // Go back to the home page for the costume collection 
      window.location.href='/whiskeys' 
    } 
  script. 
    function deleteOnid() { 
      console.log("starting delete") 
      // delete first 
      fetch(actionid, { 
        method: 'DELETE'      // Don't need a body for the delete 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Delete succeded") 
        window.location.href='/whiskeys' 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Delete failed " + error ) 
      }); 
    } 