extends layout

block content
  h1= title
  
  p Welcome to #{title}
  - let destination1 = `dispatch(\"/whiskeys/create\")`
  button.btn( class="btn-primary ml-1", onclick= destination1, style = "margin:8px;" ) Create
  - var results = thewhiskeys
  - let items = results;
  div(class="container-fluid") 
    div(class="row m-1") 
      
      each item in items  
        - let destination = `dispatch(\"/whiskeys/update?id=${item._id}\")` 
        - let destination2 = `dispatch(\"/whiskeys/detail?id=${item._id}\")`
        - let destination3 = `dispatch(\"/whiskeys/delete?id=${item._id}\")`
        div(class="row-sm-2", class="m-1") Item #{item.name}(#{item.whiskey_type}) is #{item.price} 
          button.btn( class="btn-primary ml-1", onclick= destination) Update
          button.btn( class="btn-primary ml-1", onclick= destination2, style = "margin:8px;" ) Detail
          button.btn( class="btn-primary ml-1", onclick= destination3, style = "margin:8px;" ) Delete
  script. 
    function dispatch(path){ 
      window.location.href=path 
    }  